{% extends 'base.html' %}
{% load static %}
{% load static cart_extras %}
{% block content %}
<section class="section-content padding-y bg">
    <div class="container">
        {% if not cart_items %}
            <h2 class="text-center">Your Shopping Cart is Empty</h2>
            <br>
            <div class="text-center">
                <a href="{% url 'store:store' %}" class="btn btn-primary">Continue Shopping</a>
            </div>
        {% else %}
            <div class="row">
                <aside class="col-lg-9">
                    <div class="card">
                        <table class="table table-borderless table-shopping-cart">
                            <thead class="text-muted">
                                <tr class="small text-uppercase">
                                    <th scope="col">Product</th>
                                    <th scope="col" width="120">Quantity</th>
                                    <th scope="col" width="120">Price</th>
                                    <th scope="col" class="text-right" width="200"> </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for cart_item in cart_items %}
                                    <tr>
                                        <td>
                                            <figure class="itemside align-items-center">
                                                <div class="aside"><img src="{{ cart_item.product.images.url }}" class="img-sm"></div>
                                                <figcaption class="info">
                                                    <a href="{{ cart_item.product.get_url }}" class="title text-dark">{{ cart_item.product.product_name }}</a>
                                                    <p class="text-muted small">
                                                        {% for item in cart_item.variations.all %}
                                                            {{ item.category.name }} : {{ item.name }}
                                                            {% if item.price_modifier and item.price_modifier > 0 %}
                                                                (+${{ item.price_modifier }})
                                                            {% endif %}
                                                            <br>
                                                        {% endfor %}
                                                    </p>
                                                </figcaption>
                                            </figure>
                                        </td>
                                        <td>
                                            <div class="col">
                                                <div class="input-group input-spinner">
                                                    <div class="input-group-prepend">
                                                        <a href="{% url 'remove_cart' product_id=cart_item.product.id cart_item_id=cart_item.id %}" class="btn btn-light" type="button">
                                                            <i class="fa fa-minus"></i>
                                                        </a>
                                                    </div>
                                                    <input type="text" class="form-control" value="{{ cart_item.quantity }}" readonly>
                                                    <div class="input-group-append">
                                                        <form action="{% url 'add_cart' cart_item.product.id %}" method="POST">
                                                            {% csrf_token %}
                                                            {% for item in cart_item.variations.all %}
                                                                <input type="hidden" name="{{ item.category.name }}" value="{{ item.name }}">
                                                            {% endfor %}
                                                            <button class="btn btn-light" type="submit">
                                                                <i class="fa fa-plus"></i>
                                                            </button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                            <td>
                                                <div class="price-wrap">
                                                    <var class="price">$ {{ cart_item.sub_total|floatformat:2 }}</var>
                                                    <small class="text-muted">
                                                        $ {{ cart_item.sub_total|divided_by:cart_item.quantity|floatformat:2 }} each
                                                    </small>
                                                </div>
                                            </td>
                                        <td class="text-right">
                                            <a href="{% url 'remove_cart_item' cart_item.product.id cart_item.id %}" onclick="return confirm('Are you Sure you want to Delete this item ? ')" class="btn btn-danger">
                                                Remove
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <!-- INSERT THE FORM HERE, AFTER </table> BUT BEFORE </div> FOR CARD -->
                        <h4 class="card-title mb-4">Billing Address</h4>
                        <form method="POST" class="p-4">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="col form-group">
                                    {{ form.first_name.label_tag }}
                                    {{ form.first_name }}
                                </div>
                                <div class="col form-group">
                                    {{ form.last_name.label_tag }}
                                    {{ form.last_name }}
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col form-group">
                                    {{ form.email.label_tag }}
                                    {{ form.email }}
                                </div>
                                <div class="col form-group">
                                    {{ form.phone.label_tag }}
                                    {{ form.phone }}
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col form-group">
                                    {{ form.address_line_1.label_tag }}
                                    {{ form.address_line_1 }}
                                </div>
                                <div class="col form-group">
                                    {{ form.address_line_2.label_tag }}
                                    {{ form.address_line_2 }}
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col form-group">
                                    {{ form.city.label_tag }}
                                    {{ form.city }}
                                </div>
                                <div class="col form-group">
                                    {{ form.state.label_tag }}
                                    {{ form.state }}
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col form-group">
                                    {{ form.country.label_tag }}
                                    {{ form.country }}
                                </div>
                                <div class="col form-group">
                                    {{ form.zip_code.label_tag }}
                                    {{ form.zip_code }}
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form.order_note.label_tag }}
                                {{ form.order_note }}
                            </div>
                            <h4 class="card-title mb-4 mt-5">Shipping Address</h4>
                            <div class="form-group">
                                <input type="checkbox" id="sameAsBilling">
                                <label for="sameAsBilling">Shipping address is the same as billing</label>
                            </div>
                            <div class="form-row">
                                <div class="col form-group">
                                    {{ form.shipping_first_name.label_tag }}
                                    {{ form.shipping_first_name }}
                                </div>
                                <div class="col form-group">
                                    {{ form.shipping_last_name.label_tag }}
                                    {{ form.shipping_last_name }}
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col form-group">
                                    {{ form.shipping_email.label_tag }}
                                    {{ form.shipping_email }}
                                </div>
                                <div class="col form-group">
                                    {{ form.shipping_phone.label_tag }}
                                    {{ form.shipping_phone }}
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col form-group">
                                    {{ form.shipping_address_line_1.label_tag }}
                                    {{ form.shipping_address_line_1 }}
                                </div>
                                <div class="col form-group">
                                    {{ form.shipping_address_line_2.label_tag }}
                                    {{ form.shipping_address_line_2 }}
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col form-group">
                                    {{ form.shipping_city.label_tag }}
                                    {{ form.shipping_city }}
                                </div>
                                <div class="col form-group">
                                    {{ form.shipping_state.label_tag }}
                                    {{ form.shipping_state }}
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col form-group">
                                    {{ form.shipping_country.label_tag }}
                                    {{ form.shipping_country }}
                                </div>
                                <div class="col form-group">
                                    {{ form.shipping_zip_code.label_tag }}
                                    {{ form.shipping_zip_code }}
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">Save and Proceed to Checkout</button>
                        </form>


                        <!-- END OF ADDED FORM -->
                    </div>  <!-- card.// -->
                </aside>  <!-- col.// -->
                <aside class="col-lg-3">
                    <!-- ... existing summary ... -->
                </aside>
            </div>  <!-- row.// -->
        {% endif %}
    </div>  <!-- container.// -->
</section>
{% endblock %}
{% block scripts %}
<script>
function copyBillingToShipping() {
    var checkbox = document.getElementById('sameAsBilling');
    var fields = [
        {billing: 'id_first_name', shipping: 'id_shipping_first_name'},
        {billing: 'id_last_name', shipping: 'id_shipping_last_name'},
        {billing: 'id_email', shipping: 'id_shipping_email'},
        {billing: 'id_phone', shipping: 'id_shipping_phone'},
        {billing: 'id_address_line_1', shipping: 'id_shipping_address_line_1'},
        {billing: 'id_address_line_2', shipping: 'id_shipping_address_line_2'},
        {billing: 'id_city', shipping: 'id_shipping_city'},
        {billing: 'id_state', shipping: 'id_shipping_state'},
        {billing: 'id_country', shipping: 'id_shipping_country'},
        {billing: 'id_zip_code', shipping: 'id_shipping_zip_code'}
    ];
    fields.forEach(function(field) {
        var billingElem = document.getElementById(field.billing);
        var shippingElem = document.getElementById(field.shipping);
        if (billingElem && shippingElem) {
            if (checkbox && checkbox.checked) {
                shippingElem.value = billingElem.value || '';
            } else {
                shippingElem.value = '';  // Clear when unchecked
            }
        }
    });
}
function formatPhone(input) {
    let value = input.value.replace(/\D/g, '');
    if (value.length > 10) value = value.substring(0, 10);
    if (value.length > 3 && value.length <= 6) {
        value = value.substring(0, 3) + '-' + value.substring(3);
    } else if (value.length > 6) {
        value = value.substring(0, 3) + '-' + value.substring(3, 6) + '-' + value.substring(6);
    }
    input.value = value;
}
function capitalizeInput(input) {
    input.value = input.value.replace(/\b\w/g, function(txt) {
        return txt.toUpperCase();
    });
}
document.addEventListener('DOMContentLoaded', function() {
    var checkbox = document.getElementById('sameAsBilling');
    if (checkbox) {
        checkbox.addEventListener('change', copyBillingToShipping);
    }
    var billingIds = ['id_first_name', 'id_last_name', 'id_email', 'id_phone', 'id_address_line_1', 'id_address_line_2', 'id_city', 'id_state', 'id_country', 'id_zip_code'];
    billingIds.forEach(function(id) {
        var elem = document.getElementById(id);
        if (elem) {
            elem.addEventListener('input', function() {
                if (document.getElementById('sameAsBilling').checked) {
                    copyBillingToShipping();
                }
            });
        }
    });
    var capitalizeFields = ['id_city', 'id_shipping_city', 'id_first_name', 'id_last_name', 'id_shipping_first_name', 'id_shipping_last_name'];
    capitalizeFields.forEach(function(id) {
        var elem = document.getElementById(id);
        if (elem) {
            elem.addEventListener('blur', function() {
                capitalizeInput(this);
            });
        }
    });
    var phoneFields = ['id_phone', 'id_shipping_phone'];
    phoneFields.forEach(function(id) {
        var elem = document.getElementById(id);
        if (elem) {
            elem.addEventListener('input', function() {
                formatPhone(this);
            });
        }
    });
    copyBillingToShipping();  // Run on load if checkbox is already checked
});
</script>
{% endblock %}
